<figure class="full-width caption">
    <a href="{{ site.post_images_root }}/{{ page.photos_dir }}/{{ include.filename }}"
       data-lightbox="main-lightbox"
       data-title="{{ include.caption }}">
      <center>
        <img src="{{ site.post_images_root }}/{{ page.photos_dir }}/{{ include.filename }}"
             alt="{{ include.title }}"/>
      </center>
    </a>
    {% if include.caption %}
    <figcaption class="caption-text">{{ include.caption }}</figcaption>
    {% endif %}
</figure>
